html{
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
  color: #041339;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family:  Apple Chancery;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a9a5a5;
  /*background: url(./images/lines.jpg);*/
}
#root{
  height: 100%;
}


/* DROPDOWN */
/* Style The Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: #041339;
  padding: 6px;
  font-size: 1.6rem;
  border: none;
  font-family:  Apple Chancery;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {
  text-shadow: #334777 0 0 10px;
  font-weight: bold;
  background-color: #d0e1f9 ;
}
.dropbtn{
  font-size: 19px;
}



/* Layout */
.grid-container{
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 5rem;
  /*grid-auto-rows: auto;*/
  height: 100%;
}

header{
  font-size: 19px;
  grid-area: header;
  background-color: #d0e1f9;
  box-shadow: #04103e 0 0 25px;
}
/*header.home{
  background-image: url(./images/bear.jpg);
  display: block; !* Для старых браузеров *!
  height: 405px;
}*/

main{
  grid-area: main;
  padding: 4rem 0.5rem 3rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.7);
}

footer{
  grid-area: footer;
  background-color: #041339;
  color: #ffffff;
  box-shadow: #04103e 0 0 15px;
}


/* Common */

/*h1{
  font-size: 1.9rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.7rem;
  padding: 1rem 0;
}*/

a{
  text-decoration: none;
}
a:hover{
  text-shadow: #334777 0 0 10px; /* Свечение вокруг текста */
  color: #041339;
  font-weight: bold;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li{
  margin-top: 1rem ;
}

.custom-file-upload,
label.checkbox,
input,
select,
textarea,
button{
  padding: 1rem;
  border-radius: 0.3rem;
  border: 0.1rem #072e94 solid;
  font-size: 1.6rem;
  font-family:  Apple Chancery;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label.checkbox{
  background-color: white;
  font-size: 20px;
}

button{
  background-color: #98b4ec;
  cursor: pointer;
}

button:hover{
  background-color: #5584e7;
}
button.block{
  width: 100%;
}


a{
  color: #041339;
  text-decoration: underline;
}
header a{
  color: #041339;
  padding: 1rem;
  text-decoration: none;
}

a.brand{
  font-size: 3rem;
  font-weight: bold;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center{
  justify-content: center;
}
.row.top{
  align-items: flex-start;
}
.col-1{
  flex: 2 1 60rem;
}
.col-2{
  flex: 1 1 25rem;
  margin-right: 2rem;
}

/* image */
img{
  border-radius: 0.3rem;
}
img.medium{
  max-width: 35rem;
  max-height: 30rem;
  width: 100%;
}
img.large{
  max-height: 40rem;
  max-width: 45rem;
}

/* card */
.card{
  border: 0.1rem #072e94 solid;
  background-color: rgba(208, 221, 236, 0.7);
  border-radius: 0.3rem;
  margin: 1rem;
  max-width: 35rem;
  min-width: 35rem;
  /*max-height: 60rem;*/
  min-height: 60rem;
}
.notification{
  border: 0.1rem #072e94 solid;
  background-color: rgba(208, 221, 236, 0.7);
  border-radius: 0.3rem;
  margin: 1rem;
  max-width: 55rem;
}
.card-body{
  padding: 1rem;
}
.card-body > *{
  margin-bottom: 0.5rem;
}

/* rating */
.rating span{
  margin: 0.1rem;
  color: #f8d636;
  text-shadow: #5f5a2f 0 0 2px;
}

.rating span:last-child{
  padding-left: 1.5rem;
  color: #041339;
  text-shadow: none;
  font-style: italic;
}

.nameOfField{
  font-weight: bold;
  font-style: italic;
}

.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.3rem;
}
.alert-info{
  color: #041339;
  background-color: #e0e0ff;
  border-color: #041339;
}
.alert-danger{
  color: #a02020;
  background-color: #ffe0e0;
  border-color: #a02020;
}

.filter{
  background-color: #d8e7fa;
  border-radius: 0.3rem;
  border: 0.1rem #072e94 solid;
  padding: 1.3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}
.column-1{
  flex: 3 1 25rem;
}
.column-2{
  flex: 0 5 22rem;
}

.selectField{
  border-radius: 0.3rem;
  border: 0.1rem #072e94 solid;
  font-size: 1.6rem;
  font-family:  Apple Chancery;
}



.react-tabs__tab-list {
  border-bottom: 1px solid #072e94;
  margin: 0 0 10px;
  font-size: 18px;
  padding: 0;
}
.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}
.react-tabs__tab--selected {
  background: #d8e7fa;
  border-color: #072e94;
  color: #04103e;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.react-tabs__tab-panel {
  display: none;
}
.react-tabs__tab-panel--selected {
  display: block;
}
.react-tabs__tab--disabled{
  color: GrayText; cursor: default;
}
.react-tabs__tab:focus {
  box-shadow: #04103e 0 0 25px;
  border-color: hsl(208,99%, 50%);
  outline: none;
}
.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #e0e0ff;
}



/*from*/
.form{
  max-width: 45rem;
  margin: 0 auto;
  background-color: #d8e7fa;
  border-radius: 0.3rem;
  border: 0.1rem #072e94 solid;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  font-size: 14px;
  margin: 1rem 0;
  display: block;
}

.title {
  text-align: center;
  text-shadow: #04103e 0 0 25px;
}

/*form*/

.center_text{
  text-align: center;
}

[type="checkbox"]
{
  vertical-align:middle;
}

[type="file"]
{
  background-color: white;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  background-color: white;
  cursor: pointer;
}






